:root {

    --blackground: #000;

    --matrixgreen: #00FF41;

    --dark: rgb(0, 0, 100);
    --light: rgb(170, 170, 170);
    --accent: #b970ca;
    --accent2: #7670ca;
    --dark2: maroon;
    --dark3: darkgreen;

}


body {
    background-color: var(--blackground);
    color: var(--matrixgreen);
    font-family: monospace;
    font-size: 1.25em;
    padding: 40px;
    font-weight: bold;
}

#main {
    max-width: 800px;
}

hr {
    border-color: var(--matrixgreen);
}

.outputdiv {
    border: 1px solid black;
    padding: 10px;
}

#output {
    color: black;
    background-color: var(--light);
    max-width:fit-content;
    padding: 5px;
    border: 2px inset var(--matrixgreen);
    font-size: 2em;
    line-height: 1.3em;
}

input[type="text"] {
    background-color: var(--blackground);
    color: white;
    font-family: monospace;
    font-size: 1.25em;
    border: 2px inset var(--matrixgreen);
    width: 50ch;
    caret-color: var(--matrixgreen);
}


/*buttons*/

#encodeButton {
    color: white;
    font-weight: bold;
    background-color: var(--dark3);
    border: 2px inset var(--light);
}

#encodeButton:hover {
    background-color: rgb(0, 255, 0);
    color: black;
}

#decodeButton {
    color: white;
    background-color: var(--dark2);
    border: 2px inset var(--light);
    font-weight: bold;
}

#decodeButton:hover {
    background-color:red;
}

select {
    background-color: var(--blackground);
    color: var(--matrixgreen);
}

img {
    margin-right: 10px;
}